* {
  padding: 0;
  margin: 5px;
}

.App {
  text-align: center;
}

header {
  background-color: cornflowerblue;
}

nav {
  display: flex;
  flex-direction: row;
}

.navlinks {
  margin: 0 10px;
}

.project-form {
  display: flex;
  flex-direction: column;
  max-width: 70vw;
}

.project-card {
  width: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-card:hover {
  cursor: pointer;
  background-color: cornflowerblue;
}

.progress-bar {
  max-width: 60%;
}
