* {
  padding: 0;
  margin: 5px;
}

.App {
  text-align: center;
}

header {
  background-color: cornflowerblue;
}

nav {
  display: flex;
  flex-direction: row;
}

.navlinks {
  margin: 0 10px;
}

.project-form {
  display: flex;
  flex-direction: column;
  max-width: 70vw;
}
